[Unit]
Description=MySQL Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /root/mysql.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
